@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #000000, #232C33, #8A817C);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF6F9;
    
}

a {
    color: #EDF6F9;

}

h1 {
    border: 10px solid white;
    width: 600px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 300px;

}